@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../../styles.scss';

$color-config:    mat.get-color-config($chr-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');

.text-primary{
  color: mat.get-color-from-palette($primary-palette);
}

thead {
  background-color: mat.get-color-from-palette($accent-palette, A200);
}

table {
  display: inline-table !important;
}

thead tr:not(:first-child) {
  display: none;
}

.border-primary{
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: mat.get-color-from-palette($accent-palette, A200);
}