<div class="flex flex-col justify-center min-h-5/6 pt-10">
    <div class="text-xl pb-10 flex flex-row justify-between">
      <app-breadcrumb class="w-full" [crumbs]="[
          { display: 'Dashboard', link: '/' },
          { display: 'Support', callback: goBack },
          { display: 'Détails' }
        ]"></app-breadcrumb>
    </div>
    <div class="flex flex-row justify-between font-bold text-2xl">
        <div class="w-full">
          <a *ngIf="request.isSolved" [ngClass]="{ 'cursor-pointer': !is_locked }"
            class="w-full h-6 flex text-center content-center align-middle items-center justify-center bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Résolue</a>
          <a *ngIf="!request.isSolved" [ngClass]="{ 'cursor-pointer': !is_locked }"
            class="w-full h-6 flex text-center content-center align-middle items-center justify-center bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">En attente</a>
        </div>
    </div>
    <div class="py-4">
      <hr class="" />
    </div>
    <app-chr-form #form [(model)]="request" [(valid)]="valid" [disabled]="is_locked"  [sections]="[
          {
            controls: [
            {
                label: 'Email de contact',
                type: 'text',
                name: 'email',
                validations: [{ rule: 'required' }, { rule: 'email'}]
              },
            ]
          },
          {
            controls: [
              {
                label: 'Nom',
                type: 'text',
                name: 'firstname',
                validations: [{ rule: 'required' }, {rule: 'maxlength', value:50}]
              },
              {
                label: 'Prénom',
                type: 'text',
                name: 'lastname',
                validations: [{ rule: 'required' }, {rule: 'maxlength', value:50}]
              },
            ]
          },
          {
            controls: [
            {
                label: 'Sujet',
                type: 'text',
                name: 'object',
                validations: [{ rule: 'required' }, {rule: 'maxlength', value:100}]
              },              {
                label: 'Contenu',
                type: 'textArea',
                name: 'body',
                width: 'row',
                validations: [{ rule: 'required' }, { rule :'maxlength', value: 500}]
              },
            ]
          }
        ]">
    </app-chr-form>
    <div class="py-4">
      <hr class="" />
    </div>
    <div  *ngIf="auth.hasPrivilege('HELPREQUEST_UPDATE') " class="flex flex-row-reverse justify-between">
        <div class="flex flex-row" *ngIf="auth.hasPrivilege('HELPREQUEST_UPDATE') && !request.isSolved">
          <app-chr-button
            [display]="'Fermer'" [click]="openConfirmDialog" [color]="'primary'" [type]="'fixed'">
          </app-chr-button>
        </div>
        <app-chr-button *ngIf="is_locked && auth.hasPrivilege('HELPREQUEST_DELETE') && !request.isSolved" display="Supprimer" color="warn"
          [matTooltip]="'Attention: cette action est irréversible !'" matTooltipPosition="above"
          [click]="openDeleteDialog"></app-chr-button>
      </div>
  </div>
  